body{
    margin:0;
    padding:0;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    background:linear-gradient(to right,#74ebd5,#ACB6E5);
    font-family:Arial;
}

.container{
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.3);
    width:300px;
    text-align:center;
}

input{
    width:90%;
    padding:10px;
    margin:10px 0;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:10px;
}

button{
    padding:10px;
    background:green;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;
}

#result{
    margin-top:15px;
    font-size:20px;
}
